.mainheader
{
    background-image: ;
    
    background:         
        linear-gradient(
            rgba(31,174,206, 0.5), 
            rgba(31,174,206, 0.5)
        ),
        
        url(header-image.jpg);
    
    width: 100%;
    
    background-repeat: no-repeat;
    
    background-size: cover;
    
    padding-bottom: 5%;
    
}

.maintext
{
    color: white;
    
    font-family: wsu;
    
    letter-spacing: 3px;
    
    font-size: 300%;
    
    padding-top: 20%;
    
    margin-left: 10%;
    
    margin-bottom: 5%;
}

.joinbutton
{
    margin-left: 10%;
    
    color: white;
    
    font-family: wsu;
    
    background-color: rgb(31,174,206);
    
    padding: .5%;
    
    border: 1px solid rgb(31,174,206);
    
    border-radius: 2px;
    
    display: block;
    
    margin-right: 80%;
    
    font-size: 150%;
    
    text-align: center;
    
    transition: all .2s ease-in;
    
    cursor: pointer;
}

.joinbutton:hover
{
    background-color: rgb(21,194,226);
    
    border-color: rgb(31,174,206);
}

.desc
{
    margin-top: 3%;
    
    font-size: 300%;
    
    color: rgb(31,174,206);
    
    text-align: center;
    
    font-family: wsu;
}

#easy-text
{
    font-family: wsu;
    
    font-size: 100%;
    
    line-height: 1.5;
}

#easy-icon
{
    display: inline-flex;
    
    color: rgb(31,174,206);
    
    font-size: 250%
}

#easy-title
{
    display: inline-flex;
    
    font-family: wsu;
    
    font-size: 200%;
    
    vertical-align: top;
}

#open-icon
{
    display: inline-flex;
    
    color: rgb(31,174,206);
    
    font-size: 250%
}

.sec1
{
    display: inline-flex;
    
    width: 25%;
    
    margin-left: 10%;
}

.sec2
{
    display: inline-flex;
    
    width: 25%;
    
    float: right;
    
    margin-right: 10%;
}

footer
{
    background-color: #2a2b2e;
    
    color: white;
    
    margin-top: 5%;
}

.footer-image
{
    width: 10%;
    
    margin: 1.5%;
}

.cell
{
    color: white;
    
    transition: all .3s ease-in;
    
    font-family: 'Roboto', sans-serif;
    
    padding: .8em;
    
    margin-left: 1%;
    
    cursor: pointer;
    
    letter-spacing: 1px
}

.cell:hover
{
    color: lightgray;
}

.shortcuts
{
    text-align: center;
    
    margin-left: auto;
    
    margin-right: auto;
    
    border-collapse: collapse;
}

.copyright
{
    text-align: center;
    
    margin-top: 3%;
    
    font-family: 'Roboto', sans-serif;
    
    padding-bottom: 0.5%;
}